@import url('minireset.css');
@import url('responsive.css');

:root {
    --serif-font: Georgia, Times, "Times New Roman", serif;
    --main-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --clr-creme: 244, 192, 175;
    --clr-peach: 222, 80, 93;
    --clr-light-peach: 96, 94, 94;
    --clr-dark-peach: rgb(129, 46, 54);
}

strong {
    font-weight: 500;
}

.no-decoration {
    text-decoration: none;
}

.serif {
    font-family: var(--serif-font);
}

.main-font {
    font-family: var(--main-font);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

#bg-video {
    position: fixed;
    right: 0;
    
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: cover;
    z-index: -1;
    overflow-clip-margin: content-box;
}

.top-logo {
    margin-top: 3rem;
    width: 100px;
    height: 100px;
}

a.portfolio {
    font-size: 3rem;

    transition: color .6s ease 0s;
}

.no-link-colors,
.no-link-colors:link,
.no-link-colors:active,
.no-link-colors:visited {
    color: black;
}

a.portfolio:hover {
    color: rgb(var(--clr-peach, var(--clr-light-peach)));
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: var(--clr-dark-peach);
    transition: color .6s ease 0s;
}

h1 {
    font-size: 5rem;
    color: rgb(var(--clr-creme));
}

.hero {
    width: 90%;
    background-color: white;
    display: flex;
    margin-bottom: 3rem;
    justify-content: space-between;
}

.hero .content  {
    margin: 4rem 16rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.hero-hl,
.portfolio-hl {
    font-weight: 600;
    font-size: 3rem;
}

.hero-name {
    font-weight: 200;
    font-size: 2rem;
}

.profile-desc {
    font-weight: 100;
    font-size: 1.2rem;
}

.portrait {
    width: 792px;
    height: 501px;
    object-fit: cover;
    object-position: 50% 50%;
}

.hero-socials {
    display: flex;
}

.social-icon {
    width: 24px;
    height: 24px;
    transition: .3s ease-in-out;
}

.social-icon:hover {
    scale: 1.2;
}

.linkedin {
    margin-right: 1rem;
}

/* Portfolio page */
.hero-portfolio {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-hl {
    text-align: center;
}

.portfolio-desc {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2rem;
}

.preview-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 3rem;
}

.thumbnail {
    width: 581px;
    height: 581px;
    object-fit: cover;
    transition: .5s ease-in-out;
    backface-visibility: hidden;
}

.photography-wrapper:hover .thumbnail {
    filter: brightness(60%);
}

.photography-wrapper {
    position: relative;
}

.photography-wrapper .photography-text {
    opacity: 0;
    transition: .5s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
}

.photography-wrapper:hover .photography-text {
    opacity: 1;
}

.photography-text,
.photography-text:active,
.photography-text:link,
.photography-text:visited {
    color: white;
}