@import url('minireset.css');

body {
    position: relative
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bg-video {
    position: absolute;
    right: 0;
    bottom: -180%;
    min-width: 100%;
    min-height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
    z-index: -1;
}

.nav-bar {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    width: 80%;
    background-color: white;
}